$font-family:Helvetica, sans-serif;
// Here is topic font style
$topic-style:(
    "bold": 600,
    "size":25px,
    "padding":10px
);

// Here is pharagraph font style
$phara-style:(
    "size":18px
);